include README.md CHANGELOG.md CHANGELOG_EN.md LICENSE
graft src/agent_common/config
graft src/agent_common/schemas
recursive-include src/agent_common/config *.yml
recursive-include src/agent_common/schemas *.json

prune whls
prune dist
prune build
global-exclude *.py[cod] __pycache__ *.so
